---
import Layout from "../../layouts/Layout.astro";
import GraphicSpecies from "../../components/GraphicSpecies.astro";
import {
  Tabs,
  TabsList,
  TabsTab,
  TabsPanel,
} from "accessible-astro-components";
---

<Layout title="Onglets — TP3">
  <h1 class="text-3xl font-extrabold mb-4">
    Espèces — Page avec onglets accessibles
  </h1>

  <Tabs class="w-full">
    <!-- Liste des onglets -->
    <TabsList class="flex gap-2">
      <!-- Onglet 1 sélectionné -->
      <TabsTab
        id="tab-adelie"
        controls="panel-adelie"
        selected
        class="!flex-1 !px-4 !py-2 !font-bold !rounded-t-xl !border !border-gray-200 !bg-white !shadow-sm !text-gray-900 hover:!text-gray-900 aria-selected:!text-gray-900focus-visible:!outline focus-visible:!outline-2 focus-visible:!outline-blue-400"
      >
        Adelie
      </TabsTab>

      <!-- Onglet 2 -->
      <TabsTab
        id="tab-gentoo"
        controls="panel-gentoo"
        class="!flex-1 !px-4 !py-2 !font-bold !rounded-t-xl !border !border-gray-200 !bg-white !shadow-sm !text-gray-700 hover:!text-gray-900 aria-selected:!text-gray-900focus-visible:!outline focus-visible:!outline-2 focus-visible:!outline-blue-400"
      >
        Gentoo
      </TabsTab>

      <!-- Onglet 3 -->
      <TabsTab
        id="tab-chinstrap"
        controls="panel-chinstrap"
        class="!flex-1 !px-4 !py-2 !font-bold !rounded-t-xl !border !border-gray-200 !bg-white !shadow-sm !text-gray-700 hover:!text-gray-900 aria-selected:!text-gray-900focus-visible:!outline focus-visible:!outline-2 focus-visible:!outline-blue-400"
      >
        Chinstrap
      </TabsTab>
    </TabsList>

    <!-- Panneau 1 sélectionné -->
    <TabsPanel
      id="panel-adelie"
      labelledby="tab-adelie"
      selected
      class="!p-4 !border !border-gray-200 !rounded-b-xl !bg-white !min-h-[12rem] !shadow-sm"
    >
      <GraphicSpecies species="Adelie" title="Adelie" />
    </TabsPanel>

    <!-- Panneau 2 -->
    <TabsPanel
      id="panel-gentoo"
      labelledby="tab-gentoo"
      class="!p-4 !border !border-gray-200 !rounded-b-xl !bg-white !min-h-[12rem] !shadow-sm"
    >
      <GraphicSpecies species="Gentoo" title="Gentoo" />
    </TabsPanel>

    <!-- Panneau 3 -->
    <TabsPanel
      id="panel-chinstrap"
      labelledby="tab-chinstrap"
      class="!p-4 !border !border-gray-200 !rounded-b-xl !bg-white !min-h-[12rem] !shadow-sm"
    >
      <GraphicSpecies species="Chinstrap" title="Chinstrap" />
    </TabsPanel>
  </Tabs>
</Layout>
